---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

// custom strike-through
.cross {
  position: relative;
  display: inline-block;
}

.cross::before,
.cross::after {
  content: '';
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
}

.cross::before {
  border-bottom: 2px solid red;
  -webkit-transform: skewY(-45deg);
  transform: skewY(-45deg);
}

.cross::after {
  border-bottom: 2px solid red;
  -webkit-transform: skewY(45deg);
  transform: skewY(45deg);
}
// end custom strike-through

a[href="#top"], a[href="#top"]:hover {
  color: #000;
}

.page-break {
  page-break-after: always;
}

.heading {
    background-color: lightgreen;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    color: black;
}

.space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ref-logo li {
    width: 100px;
    height: 20px;
}

.text-bold{
  font-weight: bold;
  font-size: 1.1rem;
}

.project {
  background-color: lightgray;
  color: black;
  padding: 1rem;
  margin-bottom: 1rem;
}

.tech {
  font-size: .9rem;
  margin: 2px 5px;
  padding: 1px 7px;
  border-radius: 5px;
  background-color: pink;
}

.origin {
  font-size: .9rem;
  margin: 2px 5px;
  padding: 1px 7px;
  border-radius: 5px;
  background-color: gold;
}

.btn {
  font-size: .9rem;
  margin: 2px 5px;
  padding: 1px 7px;
  border-radius: 5px;
  cursor: pointer;
}

.btn1 {
  background-color: greenyellow;
}

.btn2 {
  background-color: #008CBA;
  color: white;
}

/* Blue */
.btn3 {
  background-color: #f44336;
  color: white;
}

/* Red */
.btn4 {
  background-color: #e7e7e7;
  color: black;
}

/* Gray */
.btn5 {
  background-color: #555555;
  color: white;
}

/* Black */

body {
	background: $white;
  font: 18px/1.4 $font;
  color: $black;
  padding-bottom: 20px;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  text-align: justify;
  margin: 15px 0;
  color: $black;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $black;
}
::selection {
  color: $black;
  background: $black;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 0px;
}

.masthead {
  padding: 0 0;
  // border-bottom: 1px solid $black;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 15px;
  background-color: black;
  border-radius: 33%;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 50%;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $black;
  cursor: pointer;
  font-family: $font;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $font;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $black;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $black;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $black;
}

footer {
  padding: 20px 0;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dash>li:before {
  content: "- ";
}

.star>li:before {
  content: "* ";
}

li {
  list-style-type: none;
}

.ml-10 {
  margin-left: 30px;
}

#fixedContainer {
  position: fixed;
  width: 600px;
  height: 200px;
  right: 20px;
  top: calc(50% - 200px);
  margin-left: -300px;
  /*half the width*/
  text-align: right;
  display: block;
  font-size: 1.3rem;
  max-width: 200px;
  float: right;
}

@media print {
  body {
    font-size: 14px;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}



html {
  scroll-behavior: smooth;
}

#mobileNav {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  #fixedContainer {
    display: none;
  }
  #mobileNav {
    display: block;
  }
  .site-info {
    font-size: .8rem;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
