<h2 class="heading space-between" id="experience">
  <span>Experience</span>
  <a href="#top">△</a>
</h2>

<h3>Freelance Developer since 2016 (<span id="yofexp"></span>y)</h3>
<img src="{{ site.baseurl }}/references.png" alt="">
<p>During my career, I worked for <span class="text-bold">startups</span> as well as <span
    class="text-bold">corporates</span>. I consequently was involved in many tasks related to different aspects of the software development life cycle.</p>


<script type="module">
  import { yearsOfExperience } from '../../data.js'
  const yofexp = document.getElementById('yofexp')
</script>