<h2 class="heading space-between" id="profile">
  <span>Profile</span>
  <a href="#top">△</a>
</h2>

<!-- I am a <span class="text-bold">self-motivated</span> developer, a <span class="text-bold">quick learner</span>, and a <span class="text-bold">problem solver</span>. I worked on various projects related to the software domain which provided me a great deal of technical exposure along with the importance of working in a team and the value of client satisfaction. -->
As a full-stack developer with experience in both JavaScript and PHP, I am excited to bring my skills and expertise to your team. My proficiency in both front-end and back-end technologies allows me to understand and tackle the entire web development process.

My latest experience within Inetum has allowed me to deepen my knowledge of ThingWorx and explore new ways to create innovative solutions for clients.

Working with the team at Inetum has been a pleasure, as we collaborated and problem-solved together to deliver high-quality results. Despite the challenges that arose, the experience has been extremely rewarding and has helped me grow both personally and professionally. 

I look forward to continuing to work with ThingWorx and the team at Inetum to develop even more exciting functionalities in the future.
