<h2 class="heading space-between" id="education">
  <span>Education</span>
  <a href="#top">△</a>
</h2>

<div class="space-between">
  <div>
    <img src="upmc.png" style="width:160px; height: 60px; border: 2px solid gray; border-radius: 5px; padding: 5px; filter: grayscale(100%);" alt="">
    <h3>2014-2017</h3>
    <p style="font-size: .7rem;">Master 1<br>Mechatronics</p>
  </div>
  <div>
    <img src="fstt.png" style="width:160px; height: 60px; border: 2px solid gray; border-radius: 5px; padding: 5px; filter: grayscale(100%);" alt="">
    <h3>2009-2012</h3>
    <p style="font-size: .7rem;">BSc <br>Industrial Engineering (GI)</p>
  </div>
    <div>
      <img src="mlyismail.png" style="width:160px; height: 60px; border: 2px solid gray; border-radius: 5px; padding: 5px; filter: grayscale(100%);" alt="">
      <h3>2004-2005</h3>
      <p style="font-size: .7rem;">High School Diploma <br>Mechanical Engineering (GM)</p>
    </div>
</div>