<h2 class="heading">Education</h2>

<div class="space-between">
  <div>
    <img src="upmc.png" style="width:160px; height: 60px;" alt="">
    <h3>2014-2017</h3>
    <p style="font-size: .7rem;">Master 1<br>Mechatronics</p>
  </div>
  <div>
    <img src="fstt.png" style="width:160px; height: 60px;" alt="">
    <h3>2009-2012</h3>
    <p style="font-size: .7rem;">BSc <br>Industrial Engineering (GI)</p>
  </div>
    <div>
      <img src="mlyismail.png" style="width:160px; height: 60px;" alt="">
      <h3>2004-2005</h3>
      <p style="font-size: .7rem;">High School Diploma <br>Mechanical Engineering (GM)</p>
    </div>
</div>