<h2 class="heading">Experience</h2>

<h3>Freelance Developer since 2016 (<span id="yofexp"></span>y)</h3>
<p>During my career, I worked for <span class="text-bold">startups</span> as well as <span class="text-bold">corporates</span>, I was involved:</p>

<div class="space-between">
  <ul class="star">
    <li>Writing Technical Specifications</li>
    <li>Writing  and Testing Code</li>
    <li>Refactoring and documenting Code</li>
    <li>Managing Infrastructure</li>
    <li>Leading Small Teams</li>
    <li>Managing Sprints</li>
  </ul>
  <ul>
    <li>
      <img src="{{ site.baseurl }}/references.png" style="max-width:400px;" alt="">
    </li>
  </ul>
</div>

<h2 class="heading">Projects</h2>

<div id="exp2"></div>

<script type="module">

  import { freelance, yearsOfExperience } from '../../data.js'

  const yofexp = document.getElementById('yofexp')
  yofexp.innerHTML = yearsOfExperience

  const exp2 = document.getElementById('exp2')

  freelance.sort((a, b) => a.order - b.order)

  for (let i = 0; i < freelance.length; i++) { 
    const frExp = freelance[i] 
    let osp = `<a ${frExp.link} href="${frExp.link}" alt="project link" target="_blank"><h3>${frExp.title}</h3></a>
    <p>${frExp.description}</p>
    <ul class="">
      <ul class="" 
        <li>
          ${frExp.technologies.map(t => `<small class="tech">${t}</small>`).join('')}
        </li>
      </ul>
    </ul>`
    

    exp2.innerHTML += frExp.show === true ? `<div class="xproject">${osp}</div>` : ''
  }

</script>
