<h2 class="heading space-between" id="experience">
  <span>Experience</span>
  <a href="#top">△</a>
</h2>

<h3>Freelance Developer since 2016 (<span id="yofexp"></span>y)</h3>
<p>During my career, I worked for <span class="text-bold">startups</span> as well as <span
    class="text-bold">corporates</span>.</p>
<img src="{{ site.baseurl }}/references.png" alt="">
<p>During my freelance journey, I was involved in many tasks related to different aspects of the software development life cycle:</p>
<div class="space-between">
  <ul class="star">
    <li>Planning upcomming projects</li>
    <li>Requirements research and analysis</li>
    <li>Designing and prototyping (UI/UX, DB, Infra...)</li>
    <li>Coding and software development</li>
    <li>Testing and quality assurance</li>
    <li>Deployment and implementation</li>
    <li>Maintenance and technical support</li>
  </ul>
  <ul style="width:250px">
    <li>
      <img src="{{ site.baseurl }}/pdlc.jpg" alt="">
    </li>
  </ul>
</div>

<script type="module">
  import { yearsOfExperience } from '../../data.js'
  const yofexp = document.getElementById('yofexp')
</script>