<h2 class="heading">Languages</h2>

<div class="space-between">
  <div>
    <img src="maroc.png" style="width:50px" alt="">
    <h3>Arabic</h3>
    <p style="font-size: .7rem;">Native / Bilingual Proficiency.</p>
  </div>
  <div>
    <img src="france.png" style="width:50px" alt="">
    <h3>French</h3>
    <p style="font-size: .7rem;">Full Professional Proficiency</p>
  </div>
  <div>
    <img src="usa.png" style="width:50px" alt="">
    <h3>English</h3>
    <p style="font-size: .7rem;">Full Professional Proficiency</p>
  </div>
</div>

