<h2 class="heading space-between" id="profile">
  <span>Profile</span>
  <a href="#top">△</a>
</h2>

<p>As a full-stack developer with experience in JavaScript, React, Angular, PHP, Node.js, Laravel, MySQL, MongoDB and
  Firebase, I am excited to bring my skills and expertise to your team. </p>
  <p>I have experience building and maintaining complex
  web applications and I am comfortable working with different architecture patterns. I am dedicated to delivering
  high-quality, scalable and maintainable code.</p>
  <p>I am experienced in Agile development environments and able to communicate
  effectively with both technical and non-technical stakeholders. 
  
  </p><p>
    I am excited to bring my expertise to your team and make
  a positive impact on your projects.
</p>

