<h2 class="heading space-between" id="skills">
  <span>Skills</span>
  <a href="#top">△</a>
</h2>
<p>During my freelance journey, I have developed these soft/hard skills:</p>
<div class="space-between">
  <ul class="star" style="width: 27%;">
    <strong style="font-size:larger">Soft Skills</strong>
    <li>Communication</li>
    <li>Teamwork</li>
    <li>Problem-solving</li>
    <li>Time management</li>
    <li>Critical thinking</li>
    <li>Decision-making</li>
    <li>Organizational</li>
    <li>Stress management</li>
    <li>Adaptability</li>
    <li>Conflict management</li>
    <li>Leadership</li>
    <li>Willingness to learn</li>
    <li>Creativity</li>
    <li>Empathy</li>
  </ul>
  <!-- <ul style="width:48%">
    <strong style="font-size:larger">Hard Skills</strong>
    <li>
      <img src="{{site.baseurl}}/fullstack.png" alt="">
    </li>
  </ul> -->
  <ul style="width: 73%;">
    <strong style="font-size:larger">Hard Skills</strong>
    <div id="skillsList" class="space-between"></div>
  </ul>
</div>

<script type="module">

  import { sortedSkills } from '../../data.js'

  const skillsList = document.getElementById('skillsList')

  for (let i = 0; i < sortedSkills.length; i++) {
    // if(i>=10) break
    const skill = sortedSkills[i]
    let osp = `
        <span>
          <small class="tech" style="font-size:${(1+(skill[1] < 5 ? skill[1] : 5) /10)/2}rem">${skill[0]}</small>
        </span>`

    skillsList.innerHTML += osp
  }

</script>